.vscode/

# Compiled object files
*.o
*.ko
*.obj
*.elf


# Compiled dynamic libraries
*.so
*.dylib

# Compiled static libraries
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output files
*.log
*.perf

node_modules/
